/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --font-primary: "Press Start 2P", sans-serif;
  --accent-color: #9d0012;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  color: black;
  font-family: var(--font-primary);
  max-width: 100%;
}

.container {
  overflow: hidden;
  max-width: 100%;
}

p
{
  font-size: 2vw;
  line-height: 2.5vw;
  text-shadow: 0.2vw 0.2vw 0 black;
  color:rgb(255, 255, 255);
}

h2
{
  font-size: 5vw;
  text-shadow: 0.2vw 0.2vw 0 var(--accent-color);
  color:rgb(255, 255, 255);
  line-height: 6vw;
}


/* HEADER */
header {
  background-color: rgb(5, 0, 24);
  position: fixed;
  width: 100%;
  height: 5vw;
  opacity: 0.8;
  z-index: 3;
  align-items: center;
  box-shadow: black 0vw 0vw 0.2vw;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
  background-color: rgb(5, 0, 24);
  width: 96%;
  position: relative;
  left: 2%;
  right: 2%;
}

.logo img{
  width: 15%;
  height: auto;
  position: absolute;
  top: 12%;
}

.menu {
  display: flex;
  gap: 2vw;
  align-items: center;
  width: 30%;
}

.menu img
{
  width: 2vw;
  height: auto;
}


/*HOME */
.home > .container{
  background-color: rgb(5, 0, 24);
  position: relative;
  height: 47vw;
  width: 100%;
}

#title{
  position: absolute;
  top: 15%;
  width: 80%;
  left: 10%;
}

#rain
{
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 1;
  position: absolute;
}

.gifs
{
  position: absolute;
  display: flex;
  width: 94%;
  top: 35%;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  left: 3%;
  right: 3%; 
}

.gifs img
{
  max-width: 40%;
  max-height: 100%;
}


/* NOT CONNECTED */
.not-connected {
  align-items: center;
  text-align: center;
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.5s ease-in-out;
  height: 2vw;
  width: 100%;
  position: absolute;
  top: 15vw;
  background-color: rgb(5, 0, 24);
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}

.not-connected h3 {
  text-shadow: 0.1vw 0.1vw 0 var(--accent-color);
  color:rgb(255, 255, 255);
  font-style: italic;
  font-size: 1vw;
  
}

/*
.not-connected p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  line-height: 1.8;
}

.not-connected a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
}*/


/* THE COLLECTION */
.collection > .container{
  height: 47vw;
  width: 100%;
  background-color: #165481;
  position: relative;
  background-image: url("../images/x-icon/bricks.png");
}

.collection > .container > h2
{
  position: absolute;
  left: 41%;
  top: 10%;
  
}

#boxP1
{
  position: absolute;
  left: 41%;
  top: 42%;
}



.Cimg
{
  position: absolute;
  left: 2%;
  top: 10%;
  width: 38%;
}

#number1
{
  position: absolute;
  top: 90%;
  left: 30%;
  font-size: 3vw;
  text-shadow: 0.1vw 0.1vw 0 black;
  color:rgb(0, 104, 130);
}

.collection > .container > .Cimg > img
{
  width: 100%;
  height: 100%;
}


/* SNEAK PEEK */
.sneak-peek > .container
{
  height: 47vw;
  width: 100%;
  position: relative;
}

.sneak-peek h2
{
  position: absolute;
  left: 8%;
  top: 13%;
}

.carousel-container
{
  height: 25vw;
  width: 80%;
  position: absolute;
  top: 37%;
  left: 8%;
  overflow: hidden;
}

.carousel
{
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.slider
{
  display: flex;
  height: 100%;
  width: 500%;
  flex-shrink: 0;
  transition: all 0.5s;
}

.slider section
{
  flex-basis: 20%;
  width: 20%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

#arrow
{
  width: 8%;
  position: absolute;
  top: 11%;
  cursor: pointer;
  z-index: 1;
  left: 65%;
}

.sneak-peek img:not(#arrow, #space)
{
  width: 30%;
  height: 100%;
  border-radius: 0.5vw;
}

.bigContainer
{
  width: 100%;
  height: 329vw;
  position: relative;
}

#space
{
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}


/* ROADMAP */
.roadmap > .container 
{
  position: relative;
  height: 282vw;
  width: 100%;
}

.roadmap > .container > .informations
{
  margin-top: 22%;
  margin-left: 8%;
}

.roadmap > .container > .informations > p
{
  padding-top: 5%;
}


strong
{
  font-size: 3vw;
  font-style: italic;
}


.milestone
{
  position: absolute;
  color: black;
  text-shadow: 0.1vw 0.1vw 0 black;
}


#m1
{
  top: 21.5%;
  left: 19%;
  color: black;
}

#m2
{
  top: 41%;
  left: 26%;
  color: black;
}
#m3
{
  top: 60%;
  left: 13%;
}
#m4
{
  top: 79.3%;
  left: 34%;
}

#moreDetails{
  position: absolute;
  top: 92%;
  left: 5%;
}

.link{
  text-decoration: none;
  color: var(--accent-color);
}
.link:hover{
  color: red;
}

/*

.more{
  position: absolute;
  color: var(--accent-color);
  font-size: 1.2vw;
  text-shadow: 0.1vw 0.1vw 0 black;
  font-family: var(--font-primary);
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5vw;
  width: 17%;
  height: 2vw;
  align-items: center;
  background: #e4e4e4;
  border: none;
  z-index: 2;
}


#more1{
  top: 28.5%;
  left: 50%;
}

#more2{
  top: 49%;
  left: 71%;
}


#more3{
  top: 67.1%;
  left: 45%;
}

#more4{
  top: 86.4%;
  left: 65%;
}

.detailsPanel{
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 50vw;
  position: absolute;
}

.detailsPanel > *{
  position: absolute;
}

.detailsPanel > p{
  z-index: 3;
}




#d1{
  top: 20%;
  left: 5%
}

#d2{
  top: 40%;
  left: 5%
}

#d3{
  top: 60%;
  left: 5%
}

#d4{
  top: 80%;
  left: 5%;
}

#d1 > p{
  top: 30%;
  left: 15%
}




.close{
  opacity: 0;
  z-index: -2;
}

#close1{
  top: 25%;
  left: 80%;
}

#close2{
  top: 45%;
  left: 80%;
}

#close3{
  top: 65%;
  left: 80%;
}

#close4{  
  top: 85%;
  left: 80%;
}*/



/* THE GAME */
.game > .container
{
  height: 47vw;
  width: 100%;
  position: relative;
}

.game > .container > *
{
  position: absolute;
}

.game > .container > h2
{
  text-align: center;
  top: 5%;
  width: 100%;
}

.game > .container > .right > p
{
  margin-bottom: 3%;
}

.game > .container > .left > p
{
  margin-bottom: 6%;
}

.left{
  height: 55%;
  top: 30%;
  width: 45%;
  left: 5%;
}

.right{
  height: 55%;
  top: 30%;
  width: 45%;
  left: 50%;
}

#game{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}


/* FAQ */
.faq{
  position: relative;
  height: auto;
  width: 100%;
  background: #000000;
}

.faq > .container{
  width: 80%;
  height: auto;
  margin: 1vw auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #000000;
  margin-bottom: 5vw;
}

.faq > .container > h2{
  margin-bottom: 5vw;
}
.question{
  width: 100%;
  height: auto; 
  margin: 0.5vw 0.5vw 1.5vw 0.5vw;
}

.visible-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5vw;
  position: relative;
  margin-bottom: 1vw;
}

.visible-panel h4{
  font-size: 1.8vw;
  color: white;
  margin-bottom: 2vw;
  margin-top: auto;
  margin-bottom: auto;
}

.visible-panel img{
  margin-right: 1vw;
  cursor: pointer;
  z-index: 2;
}

.toggle-panel{
  height: 0px;
  opacity: 0;
}

.toggle-panel p{
  font-size: 1vw;
  line-height: 1.5;
  padding-left: 20px;
}


/* Join */
.join > .container{
  height: 5vw;
  width: 100%;
  position: relative;
  background-color: black;
}

.join > .container > p{
  position: absolute;
  left: 5%;
  width: 60%;
  top: 18%;
}

.jDiscord{
  position: absolute;
  left: 59%;
  text-decoration: none;
  background: white;
  color: var(--accent-color);
  border-radius: 0.5vw;
  width: 15%;
  height: 4vw;
  align-items: center;
  position: relative;
  font-family: var(--font-primary);
  font-style: italic;
  cursor: pointer;
  font-size: 1.5vw;
}

.jTwitter{
  position: absolute;
  left: 62%;
  text-decoration: none;
  background: white;
  color: var(--accent-color);
  border-radius: 0.5vw;
  width: 15%;
  height: 4vw;
  align-items: center;
  position: relative;
  font-family: var(--font-primary);
  font-style: italic;
  cursor: pointer;
  font-size: 1.5vw;
}


/* End */
.end > .container {
  height: 10vw;
  width: 100%;
  background-color: black;
  position: relative;
}

.end > .container > p{
  font-size: 0.9vw;
  position: absolute;
  left: 5%;
  top: 20%;
}


/* BUTTONS */
.btn {
  display: inline-block;
  padding: 1vw 2vw;
  background: white;
  color: var(--accent-color);
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: bold;
  font-size: 1vw;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: black 0vw 0vw 0.2vw;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  z-index: 2;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  cursor: default;
}

.wallet-btn {
  border-radius: 0.5vw;
  margin-left: 0.5vw;
  border-color: transparent;
  z-index: 2;
  width: 20vw;
  height: 100%;
  /*display: none;*/
}

.hero-btn {
  border-radius: 0.5vw;
  font-size: 1.2vw;
  padding: 1.5vw 3vw;
  z-index: 2;
}


/* CARD */
.CountCard{
  position: relative;
  
  left: 29%;
  top: 15vw;
  width: 40%;
  height: 32vw;
  z-index: 2;
}

.card {
  opacity: 0;
  transform: translateY(100vw);
  transition: all 0.5s ease-in-out;
  z-index: 2;
  width: 100%;
  height: 100%;
  border: 0.5vw dashed black;
}

.show-card {
  opacity: 1;
  transform: translateY(0);
}


/* COUNTDOWN SECTION */
section 
{
  flex: 1 1 auto;
}

#countdown 
{
  display: none;
  text-align: center;
}

.countdown 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.countdown ul 
{
  display: flex;
  gap: 1.9vw;
}

.countdown .clock-item 
{
  list-style: none;
  width: 8vw;
  height: auto;
}

.countdown .clock-item .count-number 
{
  background: rgb(30, 0, 0);
  color: rgb(255, 239, 239);
  font-size: 2vw;
  font-weight: 700;
  font-family: var(--font-primary);
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0.5vw 0.5vw 0 0;
  text-shadow: 0.1vw 0.1vw 0 black;
  padding: 0.5vw;

}
.countdown .clock-item .count-text 
{
  background: rgb(0, 0, 0);
  font-family: var(--font-primary);
  text-shadow: 0.1vw 0.1vw 0 black;
  font-size: 1.1vw;
  color: rgb(255, 239, 239);
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 0.5vw 0.5vw;
  padding: 0.3vw;
  margin-bottom: 2vw;
}

.countdown h3 
{
  text-shadow: 0.1vw 0.1vw 0 var(--accent-color);
  font-style: italic;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  color: rgb(255, 239, 239);
  text-shadow: 0.1vw 0.1vw 0 black;
}

.countdown h4 
{
  color: rgb(255, 239, 239);
  text-shadow: 0.1vw 0.1vw 0 black;
}

.countdown > p 
{
  font-size: 1.1vw;
  font-family: var(--font-primary);
  text-align: center;
  color: rgb(255, 239, 239);
  text-shadow: 0.1vw 0.1vw 0 black;
}


/* MINT CONTAINER */
.mint-container 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 1vw;
}

.info-container h3
{
  margin-bottom: 0.5vw;
}

.mint-qty 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4vw;
  background-color: var(--accent-color);
  border-radius: 0.5vw;
}

.mint-qty > span 
{
  display: flex;
}

.mint-btn 
{
  display: flex;
  align-items: center;
  gap: 3vw;
  margin: auto;
}

.input-number 
{
  height: 100%;
  padding: 1vw;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment 
{
  user-select: none;
}

.total-price-container 
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1vw 0 2vw;
}

.total-price-container p 
{
  color: var(--accent-color);
}


/* MINTED CONTAINER */
.minted-container 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: absolute;
  left: 29%;
  top: 15vw;
  height: 32vw;
  border-radius: 0.5vw;
  border: 0.5vw dashed black;
  z-index: 2;
  padding-right: 1vw;
  padding-left: 1vw;
}

.minted-container h3 
{
  font-size: 5vw;
  margin-bottom: 2vw;
}

.minted-container h4 
{
  font-size: 2vw;
  margin-bottom: 0.5vw;
  color: white;
}

.minted-container p 
{
  margin: 1vw 0;
  font-size: 1.2vw;
}

/* SLIDDER 
.splide {
  position: absolute;
  top: 90px;
  left: 5rem;
  z-index: -1;
}

.splide__slide {
  border: var(--accent-color) solid;
  border-width: 5px 10px;
}

.splide__slide img {
  width: 100%;
}

 SPINNER 
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}*/


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
}


/* UTILITIES */
.hidden {
  display: none;
}


#test{
  z-index: 20;
}