/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --font-primary: "Press Start 2P", sans-serif;
  --font-secondary: "Press Start 2P", serif;
  --font-code: "Odibee Sans", monospace;
  --bg-color: #062867;
  --bg-color-transparent: #00163f80;
  --font-color: #000000;
  --btn-bg-color: #ffffff;
  --accent-color: #55000a;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
  --text-size: ;
  --title-size: 60px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  color: var(--font-color);
  font-family: var(--font-primary);
  max-width: 100%;
}

.container {
  overflow: hidden;
  max-width: 100%;
}

p
{
  font-size: 2vw;
  line-height: 2.5vw;
  text-shadow: 2px 2px 0 black;
  color:rgb(255, 255, 255);
}

h2
{
  font-size: 5vw;
  text-shadow: 5px 5px 0 var(--accent-color);
  color:rgb(255, 255, 255);
  line-height: 6vw;
}



/* HEADER */
header {
  background-color: rgb(5, 0, 24);
  position: fixed;
  width: 100%;
  height: 5vw;
  opacity: 0.8;
  z-index: 10;
  align-items: center;
  box-shadow: var(--header-shadow);
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
  background-color: rgb(5, 0, 24);
  width: 96%;
  position: relative;
  left: 2%;
  right: 2%;
}

.logo img{
  width: 15%;
  height: auto;
  position: absolute;
  top: 12%;
}

.menu {
  display: flex;
  gap: 40px;
  align-items: center;
  width: 30%;
  border: solid 2px red;
}

.menu img
{
  width: 100%;
  border: solid 2px green;
  height: auto;
}






/*HOME */
.home > .container{
  background-color: rgb(5, 0, 24);
  position: relative;
  height: 100vh;
  width: 100%;
}

#title{
  position: absolute;
  top: 10%;
  width: 80%;
  left: 10%;
}

#rain
{
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 1;
  position: absolute;
}

.gifs
{
  position: absolute;
  display: flex;
  width: 90%;
  left: 5%;
  top: 30%;
  justify-content: space-between;
  align-items: center;
  border: solid 2px red;
  height: 60%;
}

.gifs img
{
  max-width: 40%;
  max-height: 100%;
  border: solid 2px green;
}




/* NOT CONNECTED */
.not-connected {
  align-items: center;
  text-align: center;
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.5s ease-in-out;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 27vh;
  background-color: rgb(5, 0, 24);
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}

.not-connected h3 {
  text-shadow: 2px 2px 0 var(--accent-color);
  color:rgb(255, 255, 255);
  font-style: italic;
  font-size: 15px;
  
}

/*
.not-connected p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  line-height: 1.8;
}

.not-connected a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
}*/





/* THE COLLECTION */
.collection > .container{
  height: 100vh;
  background-color: #165481;
  position: relative;
  background-image: url("../images/x-icon/bricks.png");
}



.collection > .container > h2
{
  position: absolute;
  left: 41%;
  top: 15%;
  
}

#boxP1
{
  position: absolute;
  left: 41%;
  top: 42%;
}



.Cimg
{
  position: absolute;
  left: 5%;
  top: 20%;
  width: 38%;
  border: 2px solid purple;
}

#number1
{
  position: absolute;
  top: 90%;
  font-size: 3vw;
  text-shadow: 2px 2px 0 black;
  color:rgb(0, 90, 117);
}

.collection > .container > img
{
  width: 100%;
}





/* SNEAK PEEK */
.sneak-peek > .container
{
  height: 100vh;
  position: relative;
}


.sneak-peek h2
{
  position: absolute;
  left: 12%;
  top: 15vh;
}

.carousel-container
{
  height: 60vh;
  width: 80%;
  margin: 20px auto;
  position: absolute;
  top: 30vh;
  left: 10%;
  overflow: hidden;
}

.carousel
{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.slider
{
  display: flex;
  height: 100%;
  width: 500%;
  flex-shrink: 0;
  transition: all 0.5s;
}

.slider section
{
  flex-basis: 20%;
  width: 20%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
}


#arrow
{
  position: absolute;
  top: 13vh;
  cursor: pointer;
  z-index: 1;
  left: 65%;
}


.sneak-peek img:not(#arrow, #space)
{
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

#space
{
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
}




/* ROADMAP */
.roadmap > .container 
{
  position: relative;
  height: 500vh;
  width: 100%;
}

.roadmap > .container > .informations
{
  margin-top: 300px;
  margin-bottom: 150px;
  margin-left: 12%;
}

.roadmap > .container > .informations > p
{
  padding-top: 50px;
}

#space2
{
  height: auto;
  max-width: 100%;
  z-index: -1;
  position: absolute;
}

strong
{
  font-size: 35px;
}

#b1, #b3
{
  align-self: flex-start;
}

#b2, #b4
{
  align-self: flex-end;
}

#r1
{
  position: absolute;
  top: 20%;
  left: 20%;
  color: #6b1313;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--header-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  cursor: default;
}

.wallet-btn {
  border-radius: 0.5rem;
  margin-left: 20px;
  border-color: transparent;
  display: none;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}





/* CARD */
.card {
  position: absolute;
  left: 29%;
  top: 27vh;
  width: 40%;
  height: 72vh;
  background-color: rgb(12, 94, 129);
  border-radius: 5px;
  border: 3px solid var(--accent-color);
  box-shadow: var(--card-shadow);
  opacity: 0;
  transform: translateY(100vw);
  transition: all 0.5s ease-in-out;
  z-index: 2;
  padding-right: 30px;
  padding-left: 30px;
}

.show-card {
  opacity: 1;
  transform: translateY(0);
}






/* COUNTDOWN SECTION */
section {
  flex: 1 1 auto;
}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown ul {
  display: flex;
  gap: 1.9rem;
}
.countdown .clock-item {
  list-style: none;
  width: 115px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h3 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
}

.countdown h4 {
  margin-top: 1rem;
}

.countdown > p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}





/* MINT CONTAINER */
.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.info-container h3
{
  margin-bottom: 5px;
}

.mint-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  background-color: var(--accent-color);
  border-radius: 5px;
}

.mint-qty > span {
  display: flex;
}

.mint-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

.input-number {
  height: 100%;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 2rem;
}

.total-price-container p {
  color: var(--accent-color);
}





/* MINTED CONTAINER */
.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: absolute;
  left: 29%;
  top: 27vh;
  height: 72vh;
  background-color: rgb(12, 94, 129);
  border-radius: 5px;
  border: 3px solid var(--accent-color);
  box-shadow: var(--card-shadow);
  z-index: 2;
  padding-right: 30px;
  padding-left: 30px;
}

.minted-container h3 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.minted-container h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.minted-container p {
  margin: 1rem 0;
}





/* SLIDDER 
.splide {
  position: absolute;
  top: 90px;
  left: 5rem;
  z-index: -1;
}

.splide__slide {
  border: var(--accent-color) solid;
  border-width: 5px 10px;
}

.splide__slide img {
  width: 100%;
}

 SPINNER 
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}*/





/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
}





/* UTILITIES */
.hidden {
  display: none;
}